.fitContent{
    width: fit-content;
}
.displayFlex{
    display: flex;
}
.alignItemCenter{
    align-items: center;
}
.flexCenterAlign{
    align-items: center;
    justify-content: center;
}
.flexSpaceBetween{
    justify-content: space-between;
}
.txtCenter{
    text-align: center;
}
.pLeft20{
    padding-left: 20px;
}
.overflowHidden{
    overflow: hidden;
}
.blackTxt{
    color: black;
}
.posRelative{
    position: relative;
}
.w70Percent{
    width: 70%;
}
.w30Percent{
    width: 30%;
}
.fade-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  visibility: hidden;
}

.fade-text.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}