.myBannerContainer{
    background-image: url(/public/titleImage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90vh;
    .location{
        padding-top: 27%;
        font-size: 18px;
        .locationContent{
            background: linear-gradient(to bottom, #FF9933 0%, #FF9933 33.33%, #FFFFFF 33.33%, #FFFFFF 66.66%, #138808 66.66%, #138808 100%);
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            .locationText{
                padding-left: 40px;
                font-weight: 600;
            }
            &.displayFlex{
                gap: 30px;
            }
        }
        .globe{
            width: 51px;
            rotate: 20deg;
            margin-top: 6px;
        }
        .role{
            padding-right: 40px;
            font-size: 3vw;
        }
    }
    .nameTraverseArea{
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        .biggerName {
            position: relative;
            width: 970px;
            border-radius: 158px;
            &::before,
            &::after {
              content: '';
              position: absolute;
              top: 0;
              width: 50px; 
              height: 100%;
              z-index: 1; 
              pointer-events: none;
            }          
            &::before {
              left: 0;
              background: linear-gradient(to right, #393838, transparent);
            }
            &::after {
              right: 0;
              background: linear-gradient(to left, #393838, transparent);
            }
          }
          
        .name{
            font-size: 180px;
            /* width: 954px; */
            white-space: nowrap;
        }
    }
}
.aboutUsOnIntro{
    .displayFlex{
        padding: 250px 129px;
        margin: auto;
        max-width: 1500px;
    }
    .myIntro{
        font-size: 24px;
        line-height: 42px; 
        width: 570px;
    }
    .passion{
        font-size: 16px;
        line-height: 26px;
        width: 300px;
    }
}
@media screen and (max-width:1208px) {
    .aboutUsOnIntro{
        .displayFlex{
            padding: 132px 30px;
            gap: 100px;
        }
        .myIntro{
            width: 60%;
        }
        .passion{
            width: 40%;
        }
    }
}
@media screen and (max-width:450px){
    .aboutUsOnIntro{
        .displayFlex{
            flex-direction: column;
            padding: 38px 20px;
            gap: 30px;
        }
        .myIntro,.passion{
            width: unset;
        }
    }
    .myBannerContainer {
        .location {
            padding-top: 0;
            .role {
                padding-right: 17px;
                font-size: 4vw;
                }
            .locationContent{
                .locationText{
                padding-left: 16px;
             }
            }
        }
  }
}